body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  justify-content: center;
  margin: 0 auto 0 auto;
  text-align: center;
}

.form-group {
  justify-content: center;
}

label {
  margin-bottom: 3em;
}

.survey {
  margin: 0 auto 0 auto;
  text-align: center;
}
